[submodule "third_party_algorithms/mcts-usage-aprendizado-descritivo"]
	path = third_party_algorithms/mcts-usage-aprendizado-descritivo
	url = https://github.com/JoaoVitorSD/mcts-usage-aprendizado-descritivo.git
